html,
body{
    background-color: #181818;
    color: #fff;
}

*,
*:after,
*:before,
*:focus{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

.wrapper {
    justify-content: space-between;
    
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* INTRO */

.intro {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    flex-direction: column;
    width: 100%;
    height: 95vh;
}


.overlay-link {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    align-items: center;
    z-index: 1000;
    background-color: #372036;
}

nav a{
    color: #e7e495;
    text-decoration: none;
    font-weight: 600;
}


.overlay-link .icon {
    z-index: 1001;

    transition: 0.2s;
}

.overlay-link .text {
    font-size: 20px;
    position: absolute;
}

.overlay-link:hover .icon {
    opacity: 0;
}



.button__circle {
    display: absolute;
    margin: 125px 0px 0px 0px;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


    

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}


/*                                              LOGIN PAGE                                              */

.login {
    width: 300px;
    margin: 100px auto;
    background-color: #372036;
    border-radius: 10px;
}

.login_logo {
    text-align: center;
    padding: 20px;
} 

.login_logo img {
    max-width: 100%;
    height: auto;
}

.form-container {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 20px;
}

.form-group button {
    background-color: #e7e495;
    color: #372036;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;    
}

.signup {
    margin-top: 30px;
    text-align: center;
}

.signup a{
    font-size: 15px;
}


/*                                              ADD IDEA PAGE                                              */
.add-idea {
    width: 800px;
    margin: 100px auto;
    background-color: #372036;
    border-radius: 20px;
}

.login_logo {
    text-align: center;
    padding: 20px;
} 

.login_logo img {
    max-width: 100%;
    height: auto;
}

.add-idea-form-container {
    padding: 20px;
}

.add-idea-form-group {
    margin-bottom: 20px;
    text-align: center;
}

.add-idea-form-group label {
    display: block;
    margin-bottom: 6px;
}

.add-idea-form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 20px;
    text-transform:uppercase;
}

.add-idea-form-group button {
    background-color: #e7e495;
    color: #372036;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;    
}

#description {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    resize: none;
    padding: 5px 10px 5px 10px;
}

.signup {
    margin-top: 30px;
    text-align: center;
}

.signup a{
    font-size: 15px;
}